body {
    background-color: red;
}

@media (min-width: 800px) {
    body {
    background-color: cyan;
}
}

@media onlyscreen and (min-width: 1200px) {
    body {
    background-color: orange;
}
}

li:nth-child()

p:hover {
    background-color: yellow;
}

p {

}